body{margin:0; padding:0;}
.header{background: #eff4fa; width: 100%; height: 62px;border-bottom: 1px solid #d6dfea}

#center{
    background:url("../images/login/cat.jpg") no-repeat;
    background-position: 38% center;
    width: 100%;
    position: absolute;
    top: 62px;
    bottom:36px;
    left: 0px;
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
}

#center_middle{
    width:334px;
    height:387px;
    text-align: center;
    border: 1px solid #a0b1c4;
    background-color: #fff;
    position: relative;
    right: 15%;
    z-index: 100 !important;
}

#center_middle .login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#center_middle .title {
    background: #eff4fa;
    height: 50px;
    border-bottom: 1px solid #8D8D8D;
    display: flex;
    justify-content: space-around;
    color: #ccc;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
}

#center_middle .title span {
    transition: all .15s ease;
}
#center_middle .title .selected {
    color: black;
}
#center_middle .login-form, #center_middle .register-form  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#description {
    color: #6f95c8;
    width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#description span {
   margin-top: 10px;
    size: A5;
    color: #3e3e3e;
}
#down{width:100%; height:36px;position: fixed;bottom: 0px;background-color: #eff4fa;border-top: 1px solid #d6dfea;text-align: center;color: #b6b6b6;}

#user{ margin-left:40px; margin-top:45px; height:25px;}
#password{margin-left:40px; margin-top:25px; height:25px;}
input{width:120px; height:18px; border:solid 1px #aca7a7; font-size:9pt;}
#btn{margin-left:30px; margin-top:40px;height:25px; margin-right:28px; text-align:center;}
#btn a{display:block; line-height:25px; background: url(../images/bt_bg.gif); border: solid 1px #b6b6b6; width:65px; float:left; margin-left:15px; text-decoration:none; color:#000;}