<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin Header</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript">
var oplist = new Array('about', 'user', 'news', 'mars', 'jielong', 'box', 'school', 'config', 'other');
$(document).ready(function() {
	$('#nav').find("a").click(function() {
		var id = $(this).attr('id');
		$.each(oplist, function(i, n) {
			$('#'+n).attr('class', 'inactive');
		});
		$(this).parents("li").attr('class', 'active');
	});
});
</script>
</head>

<body>
<div id="all">
	<div id="banner"><h1>流浪动物管理系统--后台</h1></div>
    <div id="nav">
    	<ul>
            <li class="inactive" id="school"><a th:href="@{/myInfo}" target="main">我的信息</a></li>
            <li class="active" id="config"><a th:href="@{/main}" target="main">控制台</a></li>
        </ul>
    </div>
    <div id="main">
    	<div id="welcome">欢迎你回来,Admin! <img src="../static/images/clock.gif" /> 流浪动物流浪动物</div>
    </div>
</div>
</body>
</html>
