<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; sameorigin" />
<title>流浪动物管理系统-后台</title>
</head>

<frameset cols="*" rows="136, *" id="frame_main"  border="0">
    <frame th:src="@{/header}" noresize="noresize" name="header">
    
    <frameset cols="240, *">
    	<frame th:src="@{/menu}" name="menu" />
    	<frame th:src="@{/main}" name="main">
    </frameset>
</frameset>

<noframes><body>
</body>
</noframes></html>
