<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>登录</title>
	<link th:href="@{/global/css/layui.css}" rel="stylesheet">
	<script th:src="@{/global/layui.js}"></script>
	<script th:src="@{/global/utils/httprequest.js}"></script>

	<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
	<script>
		//Demo
		layui.use('form', function(){
			var form = layui.form;
			console.log(form)
			//监听提交
			form.on('submit(formDemo)', function(data){
				const info  = this.innerText;
				console.log(info)
				const url = info === '注册'? '/registAccount' : '/loginAccount'
				request(url, "POST", data.field).then((res) => {
					//console.log(res.data.token)
					//location.href = '/index'
				})
				.catch(err => {
					console.log(err)
				})
				return false;
			});
		});
	</script>
</head>
<body>

	<div class="header">
		<img th:src="@{/images/login/headerImg.png}" height="62px"/>
	</div>
	 <div id="center">
		 <div id="description">
			 <h1>表象在猫，根源在人</h1>
			 <span>我们都是城市生态系统的一部分</span>
		 </div>
		  <div id="center_middle">
			 <div class="title">
				 <span class="login selected" >登录</span>
				 <span class="register">注册</span>
			 </div>
			  <div class="login-form marginTop" style="display: none">
				  <form th:action="@{/loginAccount}" method="post" class="layui-form">
					  <div class="layui-form-item">
						  <label class="layui-form-label">账号</label>
						  <div class="layui-input-block">
							  <input type="text" name="account" required lay-verify="required" placeholder="邮箱或手机" autocomplete="off" class="layui-input">
						  </div>
					  </div>
					  <div class="layui-form-item">
						  <label class="layui-form-label">密码</label>
						  <div class="layui-input-block">
							  <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
						  </div>
					  </div>
					  <span th:text="${msg}" style="color: darkred">lalala</span><br>
					  <div class="layui-form-item">
						  <div class="layui-input-block">
							  <button class="layui-btn toggle"  lay-submit lay-filter="formDemo">注册</button>

							  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						  </div>
					  </div>
				  </form>
			  </div>
			  <div class="register-form marginTop">
				  <form th:action="@{/loginAccount}" method="post" class="layui-form">
					  <div class="layui-form-item">
						  <label class="layui-form-label">账号</label>
						  <div class="layui-input-block">
							  <input type="text" name="account" required lay-verify="required" placeholder="邮箱或手机" autocomplete="off" class="layui-input">
						  </div>
					  </div>
					  <div class="layui-form-item">
						  <label class="layui-form-label">密码</label>
						  <div class="layui-input-block">
							  <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
						  </div>
					  </div>
					  <span th:text="${msg}" style="color: darkred">lalala</span><br>
					  <div class="layui-form-item">
						  <div class="layui-input-block">
							  <button class="layui-btn toggle"  lay-submit lay-filter="formDemo">登录</button>
							  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						  </div>
					  </div>
				  </form>
			  </div>

		  </div>
	 </div>
	<div id="down">
		版本信息：流浪动物管理系统 v0.1
	</div>
</body>
<script>
	var login = document.querySelector(".login")
	var register = document.querySelector(".register")
	var loginForm = document.querySelector(".login-form")
	var registerForm = document.querySelector(".register-form")
	login.addEventListener('click', ()=>{
		console.log("login")
		loginForm.style.display = 'none';
		registerForm.style.display = 'block'
		login.classList.add('selected')
		register.classList.remove('selected')

	})
	register.addEventListener("click", ()=>{
		console.log("register")
		loginForm.style.display = 'block';
		registerForm.style.display = 'none'
		login.classList.remove('selected')
		register.classList.add('selected')
	})

</script>
</html>
