<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="all">
    <div id="menu">
        <ul>
            <li><img th:src="@{/images/li.jpg}" />&nbsp;&nbsp;&nbsp; <a href="main.html" target="main">流浪动物管理</a></li>
            <li><img th:src="@{/images/li.jpg}" />&nbsp;&nbsp;&nbsp; <a href="" target="main">志愿者管理</a></li>
            <li><img th:src="@{/images/li.jpg}" />&nbsp;&nbsp;&nbsp; <a href="" target="main">商家管理</a></li>
            <li><img th:src="@{/images/li.jpg}" />&nbsp;&nbsp;&nbsp; <a href="" target="main">综合数据</a></li>
        </ul>
    </div>
</div>
</body>
</html>
