<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <style>
        table {width: 96%;border: 1px solid #bbbbbb;border-collapse: collapse}
        td {border: 1px solid #bbbbbb;border-collapse: collapse;}
        th {border: 1px solid #bbbbbb;border-collapse: collapse;}
    </style>
</head>
<body>
<table class="mytable">
    <tr>
        <th>用户名</th>
        <td th:text="${manager.mname}">admin</td>
    </tr>
    <tr>
        <th>密码</th>
        <td th:text="${manager.password}">123456</td>
    </tr>
    <tr>
        <th>性别</th>
        <td th:text="${manager.gender == 1 ? '男' : '女'}">性别</td>
    </tr>
    <tr>
        <th>手机</th>
        <td th:text="${manager.mphone}">111</td>
    </tr>
    <tr>
        <th>邮箱</th>
        <td th:text="${manager.memail}">123@123.com</td>
    </tr>
    <tr>
        <th>生日</th>
        <td th:text="${manager.birth}">1970.1.1</td>
    </tr>
    <tr>
        <th>职责</th>
        <td th:text="${manager.duty}">ceo</td>
    </tr>
    <tr>
        <a th:href="@{/toUpdateMyInfo(mid=${manager.mid})}">修改资料</a>
    </tr>
</table>
</body>
</html>