<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body {font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align:center;}
a { text-decoration: none;}
#all {widht: 100%; text-align:center; margin:auto;}
#main {width: 96%; line-height: 1.8; margin:auto; border:1px #ccc dashed; text-align: left; text-indent: 2em;}
.mytable {width: 96%;border: 1px solid #bbbbbb;border-collapse: collapse}
td {border: 1px solid #bbbbbb;border-collapse: collapse;}
</style>
</head>

<body>
<div id="all">
    <form th:action="@{/update}" method="post">
	<table class="mytable">
        <tr>
            <td><input name="aid" type="hidden" th:value="${animal.aid}"/>名字：</td>
            <td><input name="aname" th:value="${animal.aname}"/></td>
            <td>品种：</td>
            <td><input name="breed" th:value="${animal.breed}"/></td>
            <td>位置：</td>
            <td><input name="p_addr" th:value="${animal.p_addr}"/></td>
            <td>性别：</td>
            <td>
                <select name="gender">
                    <option value="1" th:selected="${animal.gender == 1}">公</option>
                    <option value="2" th:selected="${animal.gender == 2}">母</option>
                </select>
            </td>
            <td>年龄：</td>
            <td><input name="birth" th:value="${#dates.format(animal.birth,'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="修改"/></td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>
